<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" id="contact">
    <div class="col-12 align-items-center">
      <ul class="list-unstyled">
        <li><i class="bi bi-envelope" style="font-size: 28px; color:rgb(151, 149, 149);"></i>
          <span style="font-size: 20px; color:rgb(255, 255, 255);"> ing.prietorafael@gmail.com</span>
        </li>
        <li><i class="bi bi-telephone" style="font-size: 28px; color:rgb(151, 149, 149);"></i>
          <span style="font-size: 20px; color:rgb(255, 255, 255);"> +57 3223007808</span>
        </li>
      </ul>
    </div>
  </footer>