<div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title h4" id="detailsprojectsLabel">C#, Asp.net core, react hooks et mysql</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div id="carouselprojects4" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active ">
                                <img src="./img/recettes/recette3.jpg" class="d-block w-100" alt="recette3">
                            </div>
                            <div class="carousel-item ">
                                <img src="./img/recettes/recette4.jpg" class="d-block w-100" alt="recette4">
                            </div>
                            <div class="carousel-item ">
                                <img src="./img/recettes/recette1.jpg" class="d-block w-100" alt="recette1">
                            </div>
                            <div class="carousel-item ">
                                <img src="./img/recettes/recette2.jpg" class="d-block w-100" alt="recette2">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselprojects4"
                            data-bs-slide="prev">
                            <span style="background-color:black" class="carousel-control-prev-icon"
                                aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselprojects4"
                            data-bs-slide="next">
                            <span style="background-color:black" class="carousel-control-next-icon"
                                aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>