<div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title h4" id="detailsprojectsLabel">Logiciel Administratif et facturation électronique
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div id="carouselprojects3" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active ">
                                <img src="./img/feuille_De_calcul/feuille1.jpg" class="d-block w-100" alt="feuille1">
                            </div>
                            <div class="carousel-item ">
                                <img src="./img/feuille_De_calcul/feuille2.jpg" class="d-block w-100" alt="feuille2">
                            </div>
                            <div class="carousel-item ">
                                <img src="./img/feuille_De_calcul/feuille3.jpg" class="d-block w-100" alt="feuille3">
                            </div>
                            <div class="carousel-item ">
                                <img src="./img/feuille_De_calcul/feuille4.jpg" class="d-block w-100" alt="feuille4">
                            </div>
                            <div class="carousel-item ">
                                <img src="./img/feuille_De_calcul/feuille5.jpg" class="d-block w-100" alt="feuille5">
                            </div>
                            <div class="carousel-item ">
                                <img src="./img/feuille_De_calcul/feuille6.jpg" class="d-block w-100" alt="feuill">
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <button class="btnic col-md-6 mt-3 buttonGuide"><i class="fa fa-download"></i><a
                                    style="text-decoration:none; color:black"
                                    href="https://rafaelprietoguzman.netlify.app/documents/Feuille_calcul_salarial1.xlsm"
                                    target="_blank">Feuille de calcul salarial 1</a></button>

                            <button class="btnic col-md-6 mt-3 buttonGuide"><i class="fa fa-download"></i><a
                                    style="text-decoration:none; color:black"
                                    href="https://rafaelprietoguzman.netlify.app/documents/Feuille_calcul_salarial2.xlsm"
                                    target="_blank">Feuille de calcul salarial 2</a></button>

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselprojects3"
                            data-bs-slide="prev">
                            <span style="background-color:black" class="carousel-control-prev-icon"
                                aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselprojects3"
                            data-bs-slide="next">
                            <span style="background-color:black" class="carousel-control-next-icon"
                                aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>