<div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title h4" id="detailsprojectsLabel">Logiciel Administratif et facturation électronique
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div id="carouselprojects" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active ">
                                <img src="./img/asistienda/venta.jpg" class="d-block w-100" alt="venta">
                            </div>
                            <div class="carousel-item ">
                                <img src="./img/asistienda/venta2.jpg" class="d-block w-100" alt="venta2">
                            </div>
                            <div class="carousel-item ">
                                <img src="./img/asistienda/venta3.jpg" class="d-block w-100" alt="venta3">
                            </div>
                            <div class="carousel-item ">
                                <img src="./img/asistienda/compra1.jpg" class="d-block w-100" alt="compra1">
                            </div>
                            <div class="carousel-item ">
                                <img src="./img/asistienda/inventary.jpg" class="d-block w-100" alt="inventary">
                            </div>
                            <div class="carousel-item ">
                                <img src="./img/asistienda/report.jpg" class="d-block w-100" alt="report">
                            </div>
                            <div class="carousel-item ">
                                <img src="./img/asistienda/crm.jpg" class="d-block w-100" alt="crm">
                            </div>

                        </div>
                        <div class="row justify-content-center">
                            <button class="btnic col-12 mt-3 buttonGuide"><i
                                    class="fa fa-download"></i><a style="text-decoration:none; color:black"
                                    href="https://rafaelprietoguzman.netlify.app/documents/Manuel_Asis.pdf"
                                    target="_blank">Manuel
                                    de l'utilisateur</a></button>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselprojects"
                            data-bs-slide="prev">
                            <span style="background-color:black" class="carousel-control-prev-icon"
                                aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselprojects"
                            data-bs-slide="next">
                            <span style="background-color:black" class="carousel-control-next-icon"
                                aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>