body {
  text-align: center;
  background-color: rgb(255, 255, 255);
  position: relative;
  margin: 0;
  margin-bottom: 40px;
  
}

@font-face {
  font-family: data-control;
  src: url("./font/data-latin.ttf");
}

@font-face {
  font-family: EspecialElite;
  src: url("./font/EspecialElite.ttf");
}

@font-face {
  font-family: Antaro;
  src: url("./font/Antaro.ttf");
}

@font-face {
  font-family: plasmati;
  src: url("./font/plasmati.ttf");
}

.homePage_video {
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
  /* object-position: center; */
}

header {
  position: relative;
  background-color: black;
  height: 550px;
  width: 100%;
  overflow: hidden;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  width: 100%;
  background-color: rgb(28, 29, 2);
  opacity: 0.8;
  z-index: 1;
}

@media (min-width: 1200px) {
  .titulo {
    font-size: 4rem;
  }
}

.titulo {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: 300;
  line-height: 1.2;
  top: 50px;
  position: absolute;
  color: white;
  left: 0;
  right: 0;
  z-index: 100;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.subtitulo {
  font-size: 24px;
  position: absolute;
  color: white;
  left: 0;
  right: 0;
  z-index: 100;
}

.color-white {
  color: white;
}

.s1 {
  top: 220px;
}

.s2 {
  top: 250px;
}

.font-antaro {
  font-family: "Antaro";
}

.font-data-control {
  font-family: "data-control";
}

.button {
  top: 350px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100;
  background-color: rgb(187, 178, 97);
  border: 1px solid  rgb(61, 58, 25);
  height: 40px;
  border-radius: 8px;
}

.buttonDetail {
  background-color: rgb(202, 191, 95);
  border: 1px solid  rgb(138, 129, 37);
  width: 130px;
}

.buttonGuide {
  background-color: rgb(187, 178, 97);
  border: 1px solid  rgb(61, 58, 25);
  height: 40px;
  width: 250px;
  border-radius: 8px;
}

.box {
  width: 85%;
  min-height: 600px;
  border: 1px solid rgb(226, 224, 224);
  border-radius: 8px;
  background-color: rgb(253, 253, 253);
  top: 500px;
  position: absolute;
  background: linear-gradient(50deg,rgb(187, 178, 97),   rgb(243, 244, 245),rgb(187, 178, 97), rgb(243, 244, 245));
}

.sobreponer {
  z-index: 100;
}

.footer{
  position: absolute;
  width: 100%;
  height: 300px;
  bottom: 0;
  background-color: rgb(59, 59, 59);
}

.divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);

}

.iconWhatsapp{
  position: fixed;
  bottom:0;
  right: 0;
  z-index: 100;
}

.card{
  min-height: 350px;
}

